* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: var(--black-color);
    overflow-x: hidden;
}

:root {

    /*=======================
               colors
    ========================= */
    --black-color: rgb(17, 17, 17);
    --red-color: #6e1423;
    --white-color: rgb(241, 241, 241);
    --invory-color: #f4eade;
    --purple-color: #8B5CF6;
    --pink-color: #EC4899;

    /*=======================
            Font Family
    ========================= */
    --heading-font: "Bodoni Moda SC", serif;
    --normal-font: "Allura", cursive;

    /*=======================
            Font sizes
    ========================= */
    --fs-h1: clamp(3rem, 6vw, 6rem);
    --fs-h2: clamp(2.5rem, 5vw, 4.5rem);
    --fs-h3: clamp(2rem, 4vw, 3rem);
    --fs-h4: clamp(1.5rem, 3vw, 2rem);
    --fs-h5: clamp(1rem, 2vw, 1.5rem);
    --fs-p: 2rem;

    /* layout */
    --max-page-width: 1400px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* ===============================
              Section 1
==================================*/
.section1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

.section1 nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.logo i {
    font-size: var(--fs-h5);
}

.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    font-size: var(--fs-h5);
    font-family: var(--heading-font);
}

.navs h4 {
    cursor: pointer;
}

.containerBox1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.threePhotosContainer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* height: 80%; */
    padding-top: 40px;
}

.photoContainer1 {
    margin: 0 auto;
    width: 20%;
    color: var(--white-color);
}

.pic1,
.pic3 {
    width: fit-content;
    border: 6px solid var(--white-color);
    overflow: hidden;
    margin-bottom: 10px;
}

.message1 p {
    font-size: var(--fs-h4);
    font-family: var(--normal-font);
}

.photoContainer2 {
    width: 20%;
    color: var(--white-color);
}

.pic2 {
    width: fit-content;
    border: 6px solid var(--white-color);
    overflow: hidden;
    height: clamp(300px, 50vw, 600px);
}

.pic2 img {
    height: 100%;
    object-fit: cover;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: var(--fs-h1);
    font-family: var(--heading-font);
    text-align: center;
    margin-top: 30px;
}

.photoContainer3 {
    margin: 0 auto;
    width: 20%;
    margin-top: 80px;
}

/* ===============================
              Section 2
==================================*/

.section2 {
    display: flex;
    justify-content: center;
    padding: 70px 0px 70px 0px;
}

.containerBox2 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.thoughts {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 120px;
    max-width: 100%;
}

.titleArea {
    margin: 0 auto;
    width: fit-content;
}

.titleArea h1 {
    font-family: var(--normal-font);
    font-size: var(--fs-h2);
}

.paragraphArea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    width: 30vw;
    margin: 0 auto;
}

.paragraphArea p {
    font-family: var(--normal-font);
    font-size: var(--fs-h3);
}

.photoContainer4 {
    margin: 0 auto;
    width: 25%;
}

/* ===============================
              Section 3
==================================*/
.section3 {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.containerBox3 {
    display: flex;
    justify-content: space-between;
    margin: 3vw;
    flex-direction: column;
    width: 100%;
}

.page3Heading {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 180px;
    font-size: var(--fs-h3);
    font-family: var(--heading-font);
}

.GroupofCards {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
}

.card1 {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.card1 img {
    height: 100%;
    width: 80%;
    padding: 15px;
    background-color: white;
    padding-bottom: 50px;
    /* margin: 0 auto; */
    
}

.card2 img {
    padding: 15px;
    height: 80%;
    background-color: white;
    padding-bottom: 50px;
}

.detail {
    margin-top: 20px;
    font-family: var(--heading-font);
    font-size: var(--sm-font-sz);
}

.section4 {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.containerBox4 {
    max-width: 80%;
    display: flex;
    margin: 180px 70px 70px 70px;
    flex-direction: column;
    gap: 90px;
}

.upperDeck {
    display: flex;
    justify-content: space-between;
}

.passage1 {
    width: 50%;
    display: flex;
    align-content: center;
}

.passage1 p {
    font-size: var(--hil-font-sz);
    font-family: var(--normal-font);
}

.upperDeckImage img {
    border: 10px solid var(--white-color);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;
}

.lowerDeck {
    display: flex;
    justify-content: space-between;
}

.passage2 {
    width: 50%;
    display: flex;
    align-content: center;
}

.passage2 p {
    font-size: var(--hil-font-sz);
    font-family: var(--normal-font);
}

.lowerDeckImage img {
    border: 10px solid var(--white-color);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;
}

.section5 {
    display: flex;
    justify-content: center;
}

.videoSection {
    display: flex;
    justify-content: center;
}

.videoSection video {
    height: 93%;
}

.section6 {
    display: flex;
    justify-content: center;
}

.containerBox6 {
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.passage3 {
    font-size: var(--lg-font-sz);
    font-family: var(--normal-font);
    width: 30%;
}

.photoAlbumSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1100px;
    width: 100%;
}

.photoAlbumSection img {
    border: 4px solid var(--white-color);
}

.box {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squareOne {
    width: 100%;
    height: 100%;
    background-color: white;
}

.squareOne img {
    width: fit-content;
    height: 100%;
}

.squareTwo {
    width: 100%;
    height: 100%;
    background-color: white;
}

.squareTwo img {
    width: 100%;
    height: 100%;
}

.box3 {
    grid-column: 3 / 5;
}

.box4 {
    grid-column: 1 / 3;
    height: 400px;
}

.squareThird {
    width: 100%;
    height: 100%;
    background-color: white;
}

.squareThird img {
    width: 100%;
    height: 100%;
}

.box5 {
    grid-column: 3 / 5;
    height: 400px;
    display: flex;
    gap: 20px;
}

.upperPart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.lowerPart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.squarefifth {
    width: 100%;
    height: 50%;
    background-color: white;
}

.squarefifth img {
    width: 100%;
    height: 100%;
}

.circle1 {
    width: 80%;
    height: 50%;
    border-radius: 50%;
    background-color: white;
}

.circle1 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.box6 {
    grid-column: 1 / 3;
    height: 300px;
}

.squaresixth {
    width: 100%;
    height: 100%;
    background-color: white;
}

.squaresixth img {
    width: 100%;
    height: 100%;
}

.section7 {
    display: flex;
    justify-content: center;

}

.containerBox7 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 120px 30px 30px 30px;
    overflow: hidden;
}

.title3 {
    text-align: center;
    margin-bottom: 100px;
    font-size: var(--lg-font-sz);
    font-family: var(--heading-font);
}

.slidingCards {
    width: max-content;
    display: flex;
    gap: 30px;
    flex-shrink: 0;
}

.slidcard1 {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    border: 6px solid var(--white-color);
}

.slidcard1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section8 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    height: 100vh;
}

.containerBox8 {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    margin: 120px 30px 30px 30px;
}

.containerBox8 h1 {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: var(--heading-font);
    font-size: var(--xxxl-font-sz);
    display: flex;
    align-items: center;
    letter-spacing: 10px;
}

.firstHead span {
    display: inline-block;

}
