* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: var(--black-color);
    overflow-x: hidden;
}

:root {

    /* color */
    --black-color: rgb(17, 17, 17);
    --red-color: #6e1423;
    --white-color: rgb(241, 241, 241);
    --invory-color: #f4eade;
    --purple-color: #8B5CF6;
    --pink-color: #EC4899;

    /* FontFamily */
    --heading-font: "Bodoni Moda SC", serif;
    --normal-font: "Allura", cursive;

    /* font-sizes */
    --min-font-sz: 1rem;
    --sm-font-sz: 1.5rem;
    --med-font-sz: 2rem;
    --med2-font-sz: 2.5rem;
    --lg-font-sz: 3rem;
    --hil-font-sz: 4rem;
    --xl-font-sz: 5rem;
    --xxl-font-sz: 6rem;
    --xxxl-font-sz: 7rem;

    /* layout */
    --max-page-width: 1400px;
}

img {
    display: block;
}

/* ===== Section 1 ===== */

.section1 {
    width: 100%;
    height: 100vh;
}

.section1 nav {
    max-width: var(--max-page-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.logo i {
    font-size: var(--min-font-sz);
}

.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    font-size: var(--min-font-sz);
    font-family: var(--heading-font);
}

.containerBox1 {
    max-width: var(--max-page-width);
    height: 80%;
    margin: 0 auto;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.threePhotosContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.photoContainer1 {
    width: 25%;
    height: 50%;
    color: var(--white-color);
}

.pic1,
.pic3 {
    width: 100%;
    height: 250px;
    border: 6px solid var(--white-color);
    overflow: hidden;
    margin-bottom: 10px;
}

.pic1 img,
.pic3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message1 p {
    font-size: var(--med-font-sz);
    font-family: var(--normal-font);
}

.photoContainer2 {
    width: 27%;
    height: 100%;
    color: var(--white-color);
    margin: 70px 40px 0px 50px;
    display: flex;
    align-items: center;
}

.pic2 {
    width: 100%;
    height: 70vh;
    border: 6px solid var(--white-color);
    overflow: hidden;
    margin-bottom: 10px;
}

.pic2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: var(--xl-font-sz);
    font-family: var(--heading-font);
    text-align: center;
}

.photoContainer3 {
    width: 25%;
    height: 50%;
    margin-top: 120px;
}

/* ===== Section 2 ===== */

.section2 {
    height: 100%;
}

.containerBox2 {
    max-width: var(--max-page-width);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 150px 70px 0px 70px;
}

.titleArea {
    font-family: var(--heading-font);
    font-size: var(--med2-font-sz);
}

.paragraphArea {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.paragraphArea p {
    font-family: var(--normal-font);
    font-size: var(--med2-font-sz);
}
