*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

html,body{
    width: 100%;
    height: 100%;
    color: white;
}
:root{

    /*color */
    --black-color:rgb(17, 17, 17);
    --red-color:#6e1423;
    --white-color:rgb(241, 241, 241);
    --invory-color:#f4eade;
    --purple-color:#8B5CF6;
    --pink-color:#EC4899;

    /* font-sizes */
    --min-font-sz:4px;
    --sm-font-sz:8px;
    --med-font-sz:16px;
    --med2-font-sz:24px;
    --lg-font-sz:32px;
    --xl-font-sz:64px;
    --xxl-font-sz:128px;



}

body{
    background-color: var(--black-color);
}

.section1 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.logo i{
    font-size: var(--med2-font-sz);
}

.navs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    font-size: var(--med2-font-sz);
}
